* {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

 body{
    color: white;
    background-color: black;
    
}
img{
    transition: 0.5s;
    
    
}
img:hover{
    transform:scale(1.1) ;
    
}
.image_1 img{
    box-shadow: 10 5px 40px blue;
    transition: transform 0.3s, box-shadow 0.3s;
}
.image_1 img:hover{
    transform:scale(1.0.5);
    box-shadow: 0 10px 100px blue;
}
 .image_2 img{
    box-shadow: 10 5px 40px blue;
    transition: transform 0.3s, box-shadow 0.3s;
}
.image_2 img:hover{
    transform:scale(1.0.5);
    box-shadow: 0 10px 100px blue; 
} 


.container {
    height: 100vh;
}

header{
    width: 100%;
    height: 10vh;
    border-bottom: 5px solid white;
    display: flex;
     justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color:#1f1f1f;
    z-index: 2;
} 


a{
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 25px;
}


nav a:hover,
a.active{
     border-radius: 5px;
     color: #1b5ad0; 
   
     text-decoration:underline;    
}

.header-icon{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin-left: 15px;
    transition: 0.5s ease;
   
  
}
.header-icon:hover{
    transform: scale(1.1);
    
}

.main {
    display: flex;
    flex-direction: row;
    
}

.main-text {
   color: white;
    margin: 300px;
    margin-left: 50px;
}

.main-text h1 {
    font-size: 90px;
}

.main-text p {
    font-size: 45px;
    color: gray;
    font-weight: bolder;

}
.home_button{
   display: flex;
  justify-content: space-between;
  
}

button{
    margin-top: 80px;
    width: 270px;
    height: 50px;
    border-radius: 10px;
    
    background-color: burlywood;

} 
button a{
    color: black;
    font-size: 24px;
    font-weight: bolder;
}

button i::before {
    font-size: 30px;
    margin-right: 10px;
    
    
}

button:hover{
    background-color: rgb(76, 76, 209);
}
.hireme_button{
    background-color: white;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bolder;
   
}



.image_1 img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 5px solid white;
    padding: 5px;
   
    margin-top: 230px;
   
      
}


/* about page */

.container1 {
    height: 100vh;
    display: flex;
flex-direction: row;
}

.image_2 img {
    margin-top: 10vh;
   width: 400px;
    height: 70vh;
    margin-left: 85px;
    margin-top: 160px;
    border-radius: 20px;


}

.about1 h1 {
    margin-top: 10vh;
    color: white;
    font-size: 60px;
    line-height: 180px;
    margin-left: 130px;
    text-decoration: underline;

}

.about1 p {
    color: gray;
    font-size: 22px;
    line-height: 80px;
    margin-left: 15%;
    width: 800px;
}
.about1 button{
    background-color:  burlywood;
    width: 250px;
}
.about1 button:hover{
background-color:  rgb(76, 76, 209) ;

}
.about1 a{
    color: black;
    
}




/* skills page */

.container2 {
    height: 100vh;
    
}

.main2{

    display: flex;
    flex-direction: column;
   
} 

.main2 h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 120px;
    text-decoration: underline;
}

.skills-image p {
    font-size: 25px;
    margin: 50px;
    font-weight: bolder;
}

.images-content {
    display: flex;
  
    justify-content: space-around;
    text-align: center;
    margin-top: 100px;
   
}

.skills-image {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
   
}
.skills-image img{
    border-radius: 10px;
    height: 185px;
    width: 280px;
   
}


.skills-image input  {
   
    padding: 25px;
     width: 220px;
   
}
.skills-image a:hover{

background-color: #2965d5 ;
border-radius: 60px;
width: 150px;
height: 60px;

}
.skills-image h1{
    font-size: 30px;
    margin: 10%;
    text-decoration: none;
    color: white;
    
}


/* contact */

.container3{
    height: 100vh;
}

.contact-heading{
    margin-top: 200px;
    text-align: center;
    font-size: 60px;
    padding: 100px;
    text-decoration: underline;
}
.contact_main{
    display: flex;
    flex-direction: row;
}
.contact_head{
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    gap: 40px;
   
}


.contact_head h2{
   
    font-size: 30px;
}
.contact_head p{
    color: gray;
    font-size: 17px;
    font-weight: bolder;
}
.contact_head i::before{
    font-size: 30px;
    margin: 10px;
    
}



.contact_image {
    display: flex;
    gap: 10px;
  
}
.contact_image a{
    position: relative;
    bottom: 20px;
}
.contact_head input{
    height: 30px;
    width: 300px;
}

textarea{
    height: 60px;
    width: 300px;
}

.contact_head button{
    margin: 0%;
    width: 150px;
    height: 40px;
     background-color:  burlywood; 
    
}
.contact_head button:hover{
    background-color: #2965d5 ;
}

.contact_head a{
    font-size: 15px;
    color: black;
}
footer{
    width: 100%;
}


.container3 footer{
    height: 6vh;
   background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
   margin-top: 104px;
}
i{
    color: white;
}
i:hover{
    color: #1b5ad0;
}

@media screen and (max-width:800px){
    .container{
        height: 110vh;
    }
    header{
      
        align-items: center;
        justify-content: space-evenly;
    }
    nav>a{
        font-size: 16px;
        margin: 2px;
    }
    .main{
        flex-wrap: wrap;
        flex-direction: column;
       
    }
    body{
        margin: 0px;
    }
    .main-text>h1{
        font-size: 45px;
        margin-left: 25px;
       
    }
    .main-text p{
       
        font-size: 20px;
        margin-left: 25px;
    }
    .main-text{
        flex-wrap: wrap;
        margin-top:100px;
        margin-bottom: 20px;
        height: fit-content;
        margin-left: 2px;
        padding: 30px;

    }
    button{
        margin-top: 40px;
       margin-left: 30px;
    }
    .home_button{
        display: flex;
        flex-wrap: wrap;
       
        
    }
    .hireme_button{
        margin: 0%;
        margin-top: 20px;
        margin-left: 30px;
        
    }
    .image_1{
        width:380px;
    }
    .image_1>img{
        margin: 0px;
        width: 300px;
        height: 300px;
        margin-left: 40px;

    }
    .image_2{
        width: 390px;
    }
    .image_2>img{
        height: 50vh;
        width: 90%;
        margin:0px;
        padding: 20px;
        border-radius: 50px;
    }
    .container1{
        display: flex;
        flex-wrap: wrap;
        height: 120vh;
    }
    .about1>h1{
    font-size: 35px;
       text-align: center;
       margin: 0%;
    }
    .about1>p{
        width: 360px;
        margin:0px;
        font-size: 13px;
        line-height: 40px;
        padding: 15px;
    }
    .about1 button{
        margin-left: 50px;
    }
    .container2{
        height: 180vh;
    }
    .images-content{
        display: flex;
        flex-wrap: wrap;
        
    }
    .main2 h1{
        font-size: 40px;
    }
    .skills-image p{
        margin:40px;
        font-size: 30px;
    }
    .images-content{
        margin-top: 50px;
    }
    .skills-image h1{
        font-size: 35px;
    }
    .container3{
       
        height: 120vh;
    }
    .contact-heading{
        font-size: 30px;
        margin-top: 700px;
    }
    .contact_main{
        display: flex;
        flex-wrap: wrap;
    
    }
    .contact_head{
        margin: 20px;
        padding: 20px;
    }
    .contact_image>p{
        font-size: 12px;
       
    }
    .contact-head{
       text-align: center;
       font-size: 30px;
       padding: 60px;
    }
    footer{
        width: 100%;
        width: 450px;
    }
    
}
 